body {
  min-height: 100vh;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#open {
  font-size: 1.4rem;
  color: rgb(148, 79, 79);
  text-shadow: 2px 1px 1px rgb(255, 255, 255);
  height: 4rem;
  border-radius: 10px;
  border: none;
  background:
    radial-gradient(
      circle at 50% 90%,
      rgb(107, 210, 66),
      rgb(49, 49, 223),
      transparent
    ),
    radial-gradient(circle at 40% 90%, rgb(22, 65, 5), rgb(165, 11, 23));
}

#my-dialog {
  border: none;
  background-color: hsl(0, 100%, 50%, 0);
}
#form {
  min-height: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#form input,
#form button {
  color: rgb(160, 153, 153);
  background-color: black;
}

#container div {
  border: 1px groove grey;
  display: flex;
  flex-wrap: wrap;
  color: aliceblue;
  align-items: center;
  justify-content: space-between;
  gap: 3;
  background-color: hsla(0, 0%, 0%, 0.5);
}
#container div p {
  font-size: 1.2rem;
}
#container {
  min-height: 100vh;

  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
